# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.local/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Alembic
alembic/versions/*.pyc

# Dash
frontend/__pycache__/

# SQLite databases
*.db
*.db-shm
*.db-wal
